<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="https://123.207.214.105:17351" />
    <add key="ApiPinnedCertificateSha256" value="ee50ff9611cab2684619bc1e0402fcfa73a1ea2e97e42274e390b770ed956373" />
    <add key="ClientVersion" value="1.0.2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
