<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="https://123.207.214.105:17351" />
    <add key="ApiPinnedCertificateSha256" value="0124c03a02d420e34a00e72e0f123ca1a97246f97e1f7a9b15812ec5e40588fe" />
    <add key="ClientVersion" value="1.0.2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
